@use "variable" as var;
@use "mixings" as mix;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var.$mainFont;
}



.header {

    background-color: var.$darkColor;

    display: flex;
    justify-content: space-between;

    padding: 1em 10em; 

    &__logo{
        @include mix.fontConfig(var.$ligthColor, 24px, bold)
    }
    
    .nav{
        display: flex;
        align-items: center;
        &__menu{
            display:flex;
            gap: 20px;
            justify-content: space-between;
        }
        &__item{
            list-style: none;
        }
        &__link{
            text-decoration: none;
            @include mix.fontConfig(var.$secundaryColor, 18px)
            
        }
    }
}

.jumbotron{
    display: flex;
    justify-content: space-between;

    padding: 7em 10em;

    background-color: var.$darkColor;

    .description{
        max-width: 450px;
        &__title{
            @include mix.fontConfig(var.$ligthColor, 48px, bold)
        }
        &__paragraph{
            @include mix.fontConfig(var.$secundaryColor, 18px)
        }
    }
    &__ctaBtn{

        margin-top: 1em;
        padding: .4em 2em;

        border: none;
        border-radius: 5px;

        background-color: var.$btnBackgroundColor;

        @include mix.fontConfig(var.$ligthColor, 18px, bold);
    }

    &__img{
        width: 500px;
        height: 250px;
        // flex: 1;
        background-color: #ccc5;
        border-radius: 5px;
        color: var.$ligthColor;
    }
}

.infoRandom{
    margin-bottom: 8em;;
    &__title{
        margin: 1em;
        text-align: center;
        @include mix.fontConfig(var.$darkColor,36px,900)
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3em;
    }
    .card{
        max-width: 170px;
        display: flex;
        flex-direction: column;
        gap: .5em;
        &__img{
            width: 170px;
            height: 170px;
            border: var.$btnBackgroundColor solid 4px;
            border-radius: 15px;
        }
        &__description{
            text-align: center;
            @include mix.fontConfig(#666, 18px)
        }
    }
}

.quote{
    display: flex;
    flex-direction: column;

    background-color: var.$secundaryColor;
    padding: 7em 15em;
    &__text{
        @include mix.fontConfig(var.$darkColor, 36px, 300, italic);
    }
    &__autor{
        align-self: flex-end;
        padding-right: 5em;
        @include mix.fontConfig(var.$darkColor, 24px, 900);
        &::before{
            content: "-";
        }
    }
}